---
http_interactions:
- request:
    method: get
    uri: https://www.googleapis.com/drive/v3/files/1LeDeTphQl8R741GFrzwAODSdfxcddR1oH5GImkY6Ry4?fields=*&supportsTeamDrives=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Authorization:
      - Bearer ya29.Gly1BoWhUSsqsHUNUFun7ihrmHUXdXMAmoReOi94X_jMZpJ4T7RRyz_LpMVrou8fADIXbC-P15rEaN2oXwP8AAQ6XMJyDK9XS8ECOso4Y3SMhGPZGI4dcF1NhL-Zew
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: |
        {
         "kind": "drive#file",
         "id": "1LeDeTphQl8R741GFrzwAODSdfxcddR1oH5GImkY6Ry4",
         "name": "roo test",
         "mimeType": "application/vnd.google-apps.spreadsheet",
         "starred": false,
         "trashed": false,
         "explicitlyTrashed": false,
         "parents": [
          "0AEC7Rp-fqgWHUk9PVA"
         ],
         "spaces": [
          "drive"
         ],
         "version": "63",
         "webViewLink": "https://docs.google.com/spreadsheets/d/1LeDeTphQl8R741GFrzwAODSdfxcddR1oH5GImkY6Ry4/edit?usp=drivesdk",
         "iconLink": "https://drive-thirdparty.googleusercontent.com/16/type/application/vnd.google-apps.spreadsheet",
         "hasThumbnail": true,
         "thumbnailLink": "https://docs.google.com/a/staq.com/feeds/vt?gd=true&id=1LeDeTphQl8R741GFrzwAODSdfxcddR1oH5GImkY6Ry4&v=51&s=AMedNnoAAAAAXGxwqJVA0Ib9Q3DFwZx_FlM3mstPkFL7&sz=s220",
         "thumbnailVersion": "51",
         "viewedByMe": true,
         "viewedByMeTime": "2019-02-19T19:09:11.438Z",
         "createdTime": "2019-02-08T19:12:05.762Z",
         "modifiedTime": "2019-02-19T19:09:11.438Z",
         "modifiedByMeTime": "2019-02-19T19:09:11.438Z",
         "modifiedByMe": true,
         "owners": [
          {
           "kind": "drive#user",
           "displayName": "Domenick Powers",
           "me": true,
           "permissionId": "09112192763485382395",
           "emailAddress": "domenick@staq.com"
          }
         ],
         "lastModifyingUser": {
          "kind": "drive#user",
          "displayName": "Domenick Powers",
          "me": true,
          "permissionId": "09112192763485382395",
          "emailAddress": "domenick@staq.com"
         },
         "shared": false,
         "ownedByMe": true,
         "capabilities": {
          "canAddChildren": false,
          "canChangeCopyRequiresWriterPermission": true,
          "canChangeViewersCanCopyContent": true,
          "canComment": true,
          "canCopy": true,
          "canDelete": true,
          "canDownload": true,
          "canEdit": true,
          "canListChildren": false,
          "canMoveItemIntoTeamDrive": true,
          "canReadRevisions": true,
          "canRemoveChildren": false,
          "canRename": true,
          "canShare": true,
          "canTrash": true,
          "canUntrash": true
         },
         "viewersCanCopyContent": true,
         "copyRequiresWriterPermission": false,
         "writersCanShare": true,
         "permissions": [
          {
           "kind": "drive#permission",
           "id": "09112192763485382395",
           "type": "user",
           "emailAddress": "domenick@staq.com",
           "role": "owner",
           "displayName": "Domenick Powers",
           "deleted": false
          }
         ],
         "permissionIds": [
          "09112192763485382395"
         ],
         "quotaBytesUsed": "0",
         "isAppAuthorized": false,
         "exportLinks": {
          "application/x-vnd.oasis.opendocument.spreadsheet": "https://docs.google.com/spreadsheets/export?id=1LeDeTphQl8R741GFrzwAODSdfxcddR1oH5GImkY6Ry4&exportFormat=ods",
          "text/tab-separated-values": "https://docs.google.com/spreadsheets/export?id=1LeDeTphQl8R741GFrzwAODSdfxcddR1oH5GImkY6Ry4&exportFormat=tsv",
          "application/pdf": "https://docs.google.com/spreadsheets/export?id=1LeDeTphQl8R741GFrzwAODSdfxcddR1oH5GImkY6Ry4&exportFormat=pdf",
          "application/vnd.openxmlformats-officedocument.spreadsheetml.sheet": "https://docs.google.com/spreadsheets/export?id=1LeDeTphQl8R741GFrzwAODSdfxcddR1oH5GImkY6Ry4&exportFormat=xlsx",
          "text/csv": "https://docs.google.com/spreadsheets/export?id=1LeDeTphQl8R741GFrzwAODSdfxcddR1oH5GImkY6Ry4&exportFormat=csv",
          "application/zip": "https://docs.google.com/spreadsheets/export?id=1LeDeTphQl8R741GFrzwAODSdfxcddR1oH5GImkY6Ry4&exportFormat=zip",
          "application/vnd.oasis.opendocument.spreadsheet": "https://docs.google.com/spreadsheets/export?id=1LeDeTphQl8R741GFrzwAODSdfxcddR1oH5GImkY6Ry4&exportFormat=ods"
         }
        }
  recorded_at: Tue, 19 Feb 2019 19:10:09 GMT
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/worksheets/1LeDeTphQl8R741GFrzwAODSdfxcddR1oH5GImkY6Ry4/private/full
    body:
      encoding: UTF-8
      string: ''
    headers:
      Gdata-Version:
      - '3.0'
      Authorization:
      - Bearer ya29.Gly1BoWhUSsqsHUNUFun7ihrmHUXdXMAmoReOi94X_jMZpJ4T7RRyz_LpMVrou8fADIXbC-P15rEaN2oXwP8AAQ6XMJyDK9XS8ECOso4Y3SMhGPZGI4dcF1NhL-Zew
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8; type=feed
      Gdata-Version:
      - '3.0'
      Etag:
      - W/"CUQBQnc_cSt7ImA9XBNTFk0."
      Last-Modified:
      - Tue, 19 Feb 2019 19:09:13 GMT
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearch/1.1/' xmlns:gs='http://schemas.google.com/spreadsheets/2006'
        xmlns:gd='http://schemas.google.com/g/2005' gd:etag='W/&quot;CUQBQnc_cSt7ImA9XBNTFk0.&quot;'><id>https://spreadsheets.google.com/feeds/worksheets/1LeDeTphQl8R741GFrzwAODSdfxcddR1oH5GImkY6Ry4/private/full</id><updated>2019-02-19T19:09:13.949Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#worksheet'/><title>roo
        test</title><link rel='alternate' type='application/atom+xml' href='https://docs.google.com/a/staq.com/spreadsheets/d/1LeDeTphQl8R741GFrzwAODSdfxcddR1oH5GImkY6Ry4/edit'/><link
        rel='http://schemas.google.com/g/2005#feed' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/1LeDeTphQl8R741GFrzwAODSdfxcddR1oH5GImkY6Ry4/private/full'/><link
        rel='http://schemas.google.com/g/2005#post' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/1LeDeTphQl8R741GFrzwAODSdfxcddR1oH5GImkY6Ry4/private/full'/><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/worksheets/1LeDeTphQl8R741GFrzwAODSdfxcddR1oH5GImkY6Ry4/private/full'/><author><name>domenick</name><email>domenick@staq.com</email></author><openSearch:totalResults>1</openSearch:totalResults><openSearch:startIndex>1</openSearch:startIndex><entry
        gd:etag='&quot;IRwVABZJVyt7ImA.&quot;'><id>https://spreadsheets.google.com/feeds/worksheets/1LeDeTphQl8R741GFrzwAODSdfxcddR1oH5GImkY6Ry4/od6</id><updated>2019-02-19T19:09:13.949Z</updated><app:edited
        xmlns:app='http://www.w3.org/2007/app'>2019-02-19T19:09:13.949Z</app:edited><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#worksheet'/><title>Sheet1</title><content
        type='application/atom+xml;type=feed' src='https[...]
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/cells/1LeDeTphQl8R741GFrzwAODSdfxcddR1oH5GImkY6Ry4/od6/private/full
    body:
      encoding: UTF-8
      string: ''
    headers:
      Gdata-Version:
      - '3.0'
      Authorization:
      - Bearer ya29.Gly1BoWhUSsqsHUNUFun7ihrmHUXdXMAmoReOi94X_jMZpJ4T7RRyz_LpMVrou8fADIXbC-P15rEaN2oXwP8AAQ6XMJyDK9XS8ECOso4Y3SMhGPZGI4dcF1NhL-Zew
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      c[...]
- request:
    method: get
    uri: https://spreadsheets.google.com/feeds/cells/1LeDeTphQl8R741GFrzwAODSdfxcddR1oH5GImkY6Ry4/od6/private/full?max-col=1&max-row=1&min-col=1&min-row=1&return-empty=true
    body:
      encoding: UTF-8
      string: ''
    headers:
      Gdata-Version:
      - '3.0'
      Authorization:
      - Bearer ya29.Gly1BoWhUSsqsHUNUFun7ihrmHUXdXMAmoReOi94X_jMZpJ4T7RRyz_LpMVrou8fADIXbC-P15rEaN2oXwP8AAQ6XMJyDK9XS8ECOso4Y3SMhGPZGI4dcF1NhL-Zew
      Content-Type:
      - applica[...]
- request:
    method: post
    uri: https://spreadsheets.google.com/feeds/cells/1LeDeTphQl8R741GFrzwAODSdfxcddR1oH5GImkY6Ry4/od6/private/full/batch
    body:
      encoding: UTF-8
      string: |2
                      <feed xmlns="http://www.w3.org/2005/Atom"
                            xmlns:batch="http://schemas.google.com/gdata/batch"
                            xmlns:gs="http://schemas.google.com/spreadsheets/2006">
                        <id>https://spreadsheets.google.com/feeds/cells/1LeDeTphQl8R741GFrzwAODSdfxcddR1oH5GImkY6Ry4/od6/private/full</id>
                        <entry>
                          <batch:id>1,1</batch:id>
                          <batch:operation type="update"/>
                          <id>https://spreadsheets.google.com/feeds/cells/1LeDeTphQl8R741GFrzwAODSdfxcddR1oH5GImkY6Ry4/od6/R1C1</id>
                          <link
                            rel="edit"
                            type="application/atom+xml"
                            href="https://spreadsheets.google.com/feeds/cells/1LeDeTphQl8R741GFrzwAODSdfxcddR1oH5GImkY6Ry4/od6/private/full/R1C1"/>
                          <gs:cell
                            row="1"
                            col="1"
                            inputValue="1x1"/>
                        </entry>
                  </feed>
    headers:
      Gdata-Version:
      - '3.0'
      Content-Type:
      - application/atom+xml;charset=utf-8
      If-Match:
      - "*"
      Authorization:
      - Bearer ya29.Gly1BoWhUSsqsHUNUFun7ihrmHUXdXMAmoReOi94X_jMZpJ4T7RRyz_LpMVrou8fADIXbC-P15rEaN2oXwP8AAQ6XMJyDK9XS8ECOso4Y3SMhGPZGI4dcF1NhL-Zew
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/atom+xml; charset=UTF-8; type=feed
      Gdata-Version:
      - '3.0'
    body:
      encoding: UTF-8
      string: "<?xml version='1.0' encoding='UTF-8'?><feed xmlns='http://www.w3.org/2005/Atom'
        xmlns:openSearch='http://a9.com/-/spec/opensearch/1.1/' xmlns:batch='http://schemas.google.com/gdata/batch'
        xmlns:gs='http://schemas.google.com/spreadsheets/2006'><id>https://spreadsheets.google.com/feeds/cells/1LeDeTphQl8R741GFrzwAODSdfxcddR1oH5GImkY6Ry4/od6/batch/1550603402473</id><updated>2019-02-19T19:10:02.498Z</updated><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#cell'/><title>Batch
        Feed</title><entry xmlns:gd='http://schemas.google.com/g/2005' gd:etag='&quot;eyJgPVoeEis.&quot;'><id>https://spreadsheets.google.com/feeds/cells/1LeDeTphQl8R741GFrzwAODSdfxcddR1oH5GImkY6Ry4/od6/R1C1</id><updated>2019-02-19T19:09:13.949Z</updated><app:edited
        xmlns:app='http://www.w3.org/2007/app'>2019-02-19T19:09:13.949Z</app:edited><category
        scheme='http://schemas.google.com/spreadsheets/2006' term='http://schemas.google.com/spreadsheets/2006#cell'/><title>A1</title><content>1x1</content><link
        rel='self' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/cells/1LeDeTphQl8R741GFrzwAODSdfxcddR1oH5GImkY6Ry4/od6/private/full/R1C1'/><link
        rel='edit' type='application/atom+xml' href='https://spreadsheets.google.com/feeds/cells/1LeDeTphQl8R741GFrzwAODSdfxcddR1oH5GImkY6Ry4/od6/private/full/R1C1'/><gs:cell
        row='1' col='1' inputValue='1x1'>1x1</gs:cell><batch:id>1,1</batch:id><batch:status
        code='200' reason='Success'/><batch:operation type='update'/></entry></feed>"
  recorded_at: Tue, 19 Feb 2019 19:10:11 GMT
[...]
